/* Horizontal scroll*/
#deck {
    white-space: nowrap;
}

/* Overlap */
.card {
    margin-right: -10%;
}

/* Hover card */
.card:hover {
    transition: 0.8s;
    transform: translateY(25%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}