.container {
    /*overflow:auto;*/
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 100px;
    height: 150px;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 200%;
    font-weight: bold;
    margin-right: -10%;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    transform: translateY(100px);
}
